* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  height: 50px;
  width: calc(99vw / 16);
  border: 1px solid #ddd;
  text-align: center;
}

.hovered {
  background: red;
}
